<div class="md-unstyled-image">
<md-tab-group>
  <md-tab label="Gallery">
    <md-card>
      <img md-card-image src="./assets/profile.jpg" width="3" height="133">
      <md-card-content>
        <p>Option 1 – “I already have an EVC to e-Verify my return.”
Option 2 – “I do not have an EVC and I would like to generate EVC to e-Verify
my return.”
Option 3 – “I would like to generate Aadhaar OTP to e-Verify my return.”
Option 4 – “I would like to send ITR-V/ I would like to e-Verify later.”</p>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="likeMe(i)">
            <i class="material-icons md-18" [class.red-color]="1 == '1'">favorite</i> LIKE
        </button>
        <button md-button (click)="deleteMe(i)">
            <i class="material-icons md-18">delete</i> DELETE 
        </button>
      </md-card-actions>
    </md-card>
  </md-tab>
</md-tab-group>

<md-tab-group>
  <md-tab label="Gallery">
    <md-card>
      <img md-card-image src="./assets/profile.jpg" width="3" height="133">
      <md-card-content>
        <p>Option 1 – “I already have an EVC to e-Verify my return.”
Option 2 – “I do not have an EVC and I would like to generate EVC to e-Verify
my return.”
Option 3 – “I would like to generate Aadhaar OTP to e-Verify my return.”
Option 4 – “I would like to send ITR-V/ I would like to e-Verify later.”</p>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="likeMe(i)">
            <i class="material-icons md-18" [class.red-color]="1 == '1'">favorite</i> LIKE
        </button>
        <button md-button (click)="deleteMe(i)">
            <i class="material-icons md-18">delete</i> DELETE 
        </button>
      </md-card-actions>
    </md-card>
  </md-tab>
</md-tab-group>


<md-tab-group>
  <md-tab label="Gallery">
    <md-card>
      <img md-card-image src="./assets/profile.jpg" width="3" height="133">
      <md-card-content>
        <p>Option 1 – “I already have an EVC to e-Verify my return.”
Option 2 – “I do not have an EVC and I would like to generate EVC to e-Verify
my return.”
Option 3 – “I would like to generate Aadhaar OTP to e-Verify my return.”
Option 4 – “I would like to send ITR-V/ I would like to e-Verify later.”</p>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="likeMe(i)">
            <i class="material-icons md-18" [class.red-color]="1 == '1'">favorite</i> LIKE
        </button>
        <button md-button (click)="deleteMe(i)">
            <i class="material-icons md-18">delete</i> DELETE 
        </button>
      </md-card-actions>
    </md-card>
  </md-tab>
</md-tab-group>


<md-tab-group>
  <md-tab label="Gallery">
    <md-card>
      <img md-card-image src="./assets/profile.jpg" width="3" height="133">
      <md-card-content>
        <p>Option 1 – “I already have an EVC to e-Verify my return.”
Option 2 – “I do not have an EVC and I would like to generate EVC to e-Verify
my return.”
Option 3 – “I would like to generate Aadhaar OTP to e-Verify my return.”
Option 4 – “I would like to send ITR-V/ I would like to e-Verify later.”</p>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="likeMe(i)">
            <i class="material-icons md-18" [class.red-color]="1 == '1'">favorite</i> LIKE
        </button>
        <button md-button (click)="deleteMe(i)">
            <i class="material-icons md-18">delete</i> DELETE 
        </button>
      </md-card-actions>
    </md-card>
  </md-tab>
</md-tab-group>


<md-tab-group>
  <md-tab label="Gallery">
    <md-card>
      <img md-card-image src="./assets/profile.jpg" width="3" height="133">
      <md-card-content>
        <p>Option 1 – “I already have an EVC to e-Verify my return.”
Option 2 – “I do not have an EVC and I would like to generate EVC to e-Verify
my return.”
Option 3 – “I would like to generate Aadhaar OTP to e-Verify my return.”
Option 4 – “I would like to send ITR-V/ I would like to e-Verify later.”</p>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="likeMe(i)">
            <i class="material-icons md-18" [class.red-color]="1 == '1'">favorite</i> LIKE
        </button>
        <button md-button (click)="deleteMe(i)">
            <i class="material-icons md-18">delete</i> DELETE 
        </button>
      </md-card-actions>
    </md-card>
  </md-tab>
</md-tab-group>

<md-tab-group>
  <md-tab label="Gallery">
    <md-card>
      <img md-card-image src="./assets/profile.jpg" width="3" height="133">
      <md-card-content>
        <p>Option 1 – “I already have an EVC to e-Verify my return.”
Option 2 – “I do not have an EVC and I would like to generate EVC to e-Verify
my return.”
Option 3 – “I would like to generate Aadhaar OTP to e-Verify my return.”
Option 4 – “I would like to send ITR-V/ I would like to e-Verify later.”</p>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="likeMe(i)">
            <i class="material-icons md-18" [class.red-color]="1 == '1'">favorite</i> LIKE
        </button>
        <button md-button (click)="deleteMe(i)">
            <i class="material-icons md-18">delete</i> DELETE 
        </button>
      </md-card-actions>
    </md-card>
  </md-tab>
</md-tab-group>
</div>