 <div>
 <a href="#"> <img src="./assets/profile.jpg" class="img-circle person" alt="Random Name" width="40" height="40">
       <span>Surya Arigela</span>
 </a>
<br/>
 <a href="#"> <img src="./assets/news.png" class="img-circle person" alt="Random Name" width="40" height="40">
 <span>News Feed</span>
  </a>
<br/>
 <a href="#"> <img src="./assets/messages.png" class="img-circle person" alt="Random Name" width="40" height="40">
 <span>Messanger</span>
  </a>
 </div>     

 <div>
   <h4>Shortcuts</h4>
    <a href="#"> <img src="./assets/newYork.jpg" class="img-circle person" alt="Random Name" width="40" height="40">
 <span>Newyork Flyers</span>
  </a>
<br/>
 <a href="#"> <img src="./assets/chicago.jpg" class="img-circle person" alt="Random Name" width="40" height="40">
 <span>Chicago avengers</span>
  </a>
 <br/>
 <a href="#"> <img src="./assets/paris.jpg" class="img-circle person" alt="Random Name" width="40" height="40">
 <span>Paris Champs</span>
  </a>
 <br/>
 <a href="#"> <img src="./assets/sf.jpg" class="img-circle person" alt="Random Name" width="40" height="40">
 <span>San Franscisco riders</span>
  </a>
 </div>
  <div>
 <h4>Explores</h4>
 <a href="#"> <img src="./assets/groups.jpg" class="img-circle person" alt="Random Name" width="40" height="40"><span>Groups</span><br/> </a>
 <a href="#"> <img src="./assets/pages.png" class="img-circle person" alt="Random Name" width="40" height="40"><span>Pages</span><br/> </a>
 <a href="#"><img src="./assets/events.png" class="img-circle person" alt="Random Name" width="40" height="40"><span>Events</span><br/> </a>
 <a href="#"><img src="./assets/friendsList.png" class="img-circle person" alt="Random Name" width="40" height="40"><span>Friends List</span><br/> </a>
 <a href="#"><img src="./assets/photo.jpg" class="img-circle person" alt="Random Name" width="40" height="40"><span>Photos</span><br/> </a>
 <a href="#"><img src="./assets/sf.jpg" class="img-circle person" alt="Random Name" width="40" height="40"><span>Insights</span><br/> </a>
  </div>